enabled: true

replicaCount: 1

image:
  repository: ghcr.io/fliphess/k8s-ssh-service
  tag: latest
  pullPolicy: Always

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

resources: {}
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi

extraEnv: {}
  # NUMBER_OF_WIDGETS: "100"

podLabels: {}

podAnnotations: {}
  # iam.amazonaws.com/role: "my-role"

podDisruptionBudget: {}
  # minAvailable: 1

nodeSelector: {}

tolerations: []

affinity: {}


service:
  type: ClusterIP
  port: 22
  annotations: {}
    # service.beta.kubernetes.io/aws-load-balancer-type: nlb

  # Allow traffic from these IP-ranges
  loadBalancerSourceRanges:
  - 0.0.0.0/0


livenessProbe:
  enabled: true
  initialDelaySeconds: 60
  timeoutSeconds: 15

readinessProbe:
  enabled: true
  initialDelaySeconds: 30
  timeoutSeconds: 15

motdContent: "
       ########################################
       ########################################
       ########################################
       ########################################
       ########################################
       ########################################
       ########################################
       ####################
       ####################   #######################################
       ####################   #######################################
       ####################   #######################################
       ####################   #######################################
       ####################   #######################################
       ####################   #######################################
       ####################   #######################################
                              #######################################
                              #######################################
                              #######################################
                              #######################################
                              #######################################
                              #######################################
                              #######################################

Warning: All volumes are volatile! Please do not store your files here!
"

sshdConfig:
  Port: 22
  SyslogFacility: AUTH
  #LogLevel: VERBOSE
  LogLevel: DEBUG
  LoginGraceTime: 2m
  PermitRootLogin: "no"
  StrictModes: "yes"
  AuthorizedKeysFile: '"/etc/ssh/authorized_keys/%u"'
  HostbasedAuthentication: "no"
  PasswordAuthentication: "no"
  ChallengeResponseAuthentication: "no"
  UsePAM: "yes"
  AllowAgentForwarding: "yes"
  AllowTcpForwarding: "yes"
  GatewayPorts: "no"
  X11Forwarding: "yes"
  PrintMotd: "no"
  PrintLastLog: "yes"
  TCPKeepAlive: "yes"
  ClientAliveInterval: 10
  ClientAliveCountMax: 3
  UseDNS: "no"
  AcceptEnv: "LANG LC_*"
  KexAlgorithms: "curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group-exchange-sha256"
  Ciphers: "chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr"
  MACs: "hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,umac-128-etm@openssh.com"
  HostKeyAlgorithms: "ssh-ed25519,ssh-ed25519-cert-v01@openssh.com"
  AuthorizedKeysCommand: /usr/local/bin/ssh-key-command %u
  AuthorizedKeysCommandUser: nobody

userConfig: {}
# admin:
#   uid: 1001
#   shell: /bin/bash
#   ip_addresses:
#   - 0.0.0.0/0
#   ssh_keys:
#   - comment: "key@example.com"
#     key: "SOMEKEY"
#     type: ecdsa-sha2-nistp256

sshHostKeys: []
#- name: ssh_host_ecdsa_key
#  content: ""
#- name: ssh_host_ed25519_key
#  content: ""
#- name: ssh_host_rsa_key
#  content: ""
